Package: sixarm-debian-email-packages
Version: 1.0.4
Section: devel
Priority: optional
Architecture: all
Depends: abook, mb2md, mutt, nano, postfix, postfix-pcre, telnet, spamassassin, spamc
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: Email packages we like to use
 Email packages we like to use together.



